/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");
header {
  margin: 0 auto;
  padding-bottom: 20px;
}
body {
  background-color: #eae2b7;
  color: #1c2754;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}
a:link {
  color: #d62828;
}
a:visted {
  color: blue;
}
a:hover {
  color: #f77f00;
}
a:active {
  color: pink;
}
h1 {
  text-align: center;
  color: black;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
  font-family: "Playfair Display", Times, serif;
}
article {
  padding: 10px 0;
}
article div {
  text-align: center;
  width: 100%;
}
p {
  line-height: 1.5;
}
div {
  margin: auto;
  width: auto;
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
}
hr {
  border: 1px solid black;
}

/* Add your solution below */
footer {text-align: center;}
.image-circle { border-radius: 100px;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-top: 20px;
  
}
ul {
  display: inline;
  list-style-position:inside;
  padding-left:;
  list-style: disc;
}

/* Styling for navigation links */
nav a {
  margin: 0 20px;
  text-transform: ;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  text-decoration: underline;
}
.logo-text {
  font-weight: bold;
  font-size: 24px;
}